/***** CATEGORIES ICON AND COLOR *****/
/* This file is separated from the others so that customization is easier */

/* Category-specific style - Feel free to adapt it to your categories ! */
.category[data-id="0"]:before{ /* Applications */
	content:'\f0c7'; /* NOTE : Consider replacing this by a CD when the icon becomes available in FontAwesome */
	background:linear-gradient(to bottom, #FF5858, #C32828);
}
.category[data-id="1"]:before{ /* Movies */
	content:'\f008';
	background:linear-gradient(to bottom, #FFAA59, #FF7500);
}
.category[data-id="2"]:before{ /* TV Show */
	content:'\f108'; /* NOTE : FontAwesome does not have a TV icon for the moment (expected in 5.0.0). Consider changing this later! */
	background:linear-gradient(to bottom, #EDFF48, #BBC52B);
	/* Just a little fix so that the icon is vertically centered */
	line-height:1.8em !important;
}
.category[data-id="3"]:before{ /* Music */
	content:'\f001';
	background:linear-gradient(to bottom, #76DA4B, #3A9328);
}
.category[data-id="4"]:before{ /* Books */
	content:'\f02d';
	background:linear-gradient(to bottom, #4A9FF2, #2A4DA2);
}
.category[data-id="5"]:before{ /* Other */
	content:'\f128';
	background:linear-gradient(to bottom, #CC3EBB, #4F1F59);
}

/** Common style - Normally you wouldn't want to change anything here **/
.category:before{
	font-family:FontAwesome;
	color:white;
	border:1px solid black;
	display:inline-block;
	font-size:12px;
	height:18px;
	width:18px;
	text-align:center;
	line-height:18px;
	border:1px solid black;
	border-radius:10px;
	vertical-align:middle;
	text-shadow:0 0 2px black;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
}